@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    background-color: #F7F7FF;
    font-family: 'Montserrat', sans-serif;
}
.logo {
    width: 70px;
    height: auto;
    margin-top: 1rem;
    margin-left: 2rem;
}
.wrapper {
    background-image: url(../images/bg-image/scooter.svg);
    background-repeat: no-repeat;
    margin: auto;
    width: 100%;
    height: auto;
    background-position: center;
}

h1 {
    margin-top: 2.5rem;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color:#333131;
    margin: 1rem;
}
.text {
    margin: 1rem;
}
.content {
    margin: 1rem;
}
div.form {
    margin-top: 40rem;
    background-color: #fff;
    text-align: center;
}
.apply {
    font-weight: 900;
    color: #333131;
    font-size: 25px;
    margin-bottom: 0.5rem;
}
.form {
    border: 10px solid white;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgb(182, 182, 182);
    margin: 1rem;
    margin-top: 2rem;
}
input {
    margin: 0.5rem;
    background-color: #F4F4F5;
    border: 0.25px solid #F4F4F5;
    border-radius: 11px;
    width: 250px;
    height: 40px;
}
.agree {
    margin: 0;
    width: auto;
    height: auto;
    margin-right: 0.5rem;
}
input.submit {
    background-color: #57EEAB;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333131;
    margin: 0.5rem;
}
.check {
    color: #FF8480;
}
footer {
    background-color: #FFFD8C;
    padding-top: 1rem;
}
.see {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 1rem; 
    font-weight: 900;
}
.many {
    margin: 1rem;
    font-weight: lighter;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
#hours {
    width: 15%;
    margin: 1rem;
}
#city {
    width: 60%;
    margin: 1rem;
}
.cal {
    background-color: #FF8480;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #F7F7FF;
    text-align: center;
    width: 85%;
    margin: auto;
    margin-left: 1rem;
}
.icons {
    text-align: center;
    margin: 1rem;
}
.facebook, .instagram, .twitter, .linkedin {
    margin-right: 2rem;
}
@media (min-width: 768px) {
  
}