@import url('https://fonts.googleapis.com/css?family=Aclonica|Arapey|Lora&display=swap');

/* Mobile */

main {
    background-color: #A8E2DC;
    padding: 1rem;
    font-family: 'Lora', serif;  
}
/*Navigation */

nav {
    background-color: #8CE229;
}

nav ul li {
    text-align: center;
    list-style: none;
    padding: 1rem;
    border: 2px solid #A8E2DC;
    font-family: 'Arapey', serif;
    font-size: 1.25rem;
    font-weight: bolder;
}

ul li a {
    color: #6b6b6b;
}

li:hover {
    background-color: rgb(198, 219, 101);
}

.current-page {
    font-style: italic;
}

/* Header, Footer */

header {
    background-color: #D0B6EB;
    padding: 1.75rem;
    padding-bottom: 1.75rem;
    text-align: center;   
}

footer {
    background-color: #D0B6EB;
    padding: 2rem;
}

.top {
    float: right;
    background-color: rgb(182, 199, 235);
    color: #6b6b6b;
    padding: 0.5rem;
    border-radius: 1rem;
}

/*  Home, about Content */

article {
    border: 2.5px solid #D0B6EB;
    margin: 0.5rem;
    text-align: center;
    border-radius: 5%;
}

h3 {
    font-weight: bold;
    margin: 1rem;
    color: #6b6b6b;
}

p {
    margin: 1rem;
    color: #6b6b6b;
    text-align: justify;
}

.baker {
    float: left;
    margin: 1rem;
}

table, tr, th, td {
    border: 2.5px solid rgb(203, 168, 226);
    margin: auto;
    padding: 15px;
    text-align: left;
    margin-top: 2.5rem;
}

th, td {
    margin: 15rem;
}

nav#footernv {
    background-color: rgb(182, 184, 90);
}

table {
    text-align: center;
}

.articleabout {
    margin: auto;
}

/* Contact content */

.contactwrap {
    text-align: center;
}

#name, #email {
    background-color: pink;
    border-radius: 10%;
    margin: 1rem;
}

#message {
    background-color: pink;
    border-radius: 10%;
    margin-right: 2rem;
}

fieldset {
    text-align: center;
    font-family: 'Aclonica', sans-serif;
    color: rgb(42, 27, 97);
}

.visit {
    font-style: normal;
    font-family: 'Aclonica', sans-serif;
    margin: 1rem;
}

.submit {
    background-color: salmon;
    font-weight: bold;
    font-family: 'Aclonica', sans-serif;
    height: 2rem;
    width: 8rem;
    margin-left: 2rem;
}
.submit:hover {
    background-color: rgb(148, 93, 93);
}

.subscribe {
    margin: 1rem;
}

.map {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Second View */

@media (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* images */

    .bag, .birthday, .wedding, .cookies, .toast, .special {
        width: 100%;
        height: auto;
    }

    .baker {
        float: left;
        margin: 1rem;
    }

    /* Navigation */

    ul li {
        display: inline;
    }

    nav {
        width: 100%;
        margin: auto;
        justify-content: space-evenly;
        background-color: #8CE229;
        text-align: center;
    }

    nav ul li {
        width: auto;
        display: inline-block;
        position: relative;
        padding: 20px 50px;
        padding-left: 10%; 
        padding-right: 10%;
        border: none;
    }

    /*Content */

    .wrapperabout  {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    p {
        text-align: justify;
    }

    .contactwrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}